<div class="card mt-3" id="reply-<%= answer.id %>">
  <div class="card-body">
    <h5 class="card-title"><%= answer.user.username %></h5>
    <p class="card-text"><%= answer.body %></p>

    <%= link_to t('global.button.reply'),
                new_reply_path(repliable_id: answer),
                remote: true, class:"btn btn-outline-primary btn-sm" %>
    <% if owner?(answer) %>
      <%= link_to t('global.button.edit'),
                  edit_reply_path(answer, repliable_id: answer),
                  remote: true, class:"btn btn-outline-primary btn-sm" %>
      <%= link_to t('global.button.delete'), reply_path(answer), method: :delete,
                  data: { confirm: t('global.dialog.you_sure') }, class:"btn btn-outline-danger btn-sm" %>
    <% end %>

    <p class="card-text mt-3"><small class="text-muted"><%= format_timestamp(answer.created_at) %></small></p>
    
    <div class="py-2"> 
      <%= t('.rating') %>: <%= answer.weighted_score %>
      <% unless current_user&.voted_for? answer %>
        <span class="ps-3">
          <span class="pe-2"><%= link_to (fa_icon "arrow-up"), reply_vote_up_path(answer), 
                                         class: "btn btn-secondary" %></span>
          <%= link_to (fa_icon "arrow-down"), reply_vote_down_path(answer), 
                      class: "btn btn-secondary" %>
        </span>
      <% end %>
    </div>

    <div class="answer-form" id="reply_form_<%= answer.id %>">
      <%= render 'questions/reply_form.html', { reply: answer.comments.build } %>
    </div>

    <div class="answer-form" id="edit_form_<%= answer.id %>">
      <%= render 'questions/reply_form.html', { reply: answer } %>
    </div>
  </div>
</div>