<%= form_with(model: @question, local: true) do |f| %>
  <div class="mb-3">
    <%= f.text_field :title, required: true, minlength: 2, placeholder: t('questions.new.question_title'),
                     class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.text_area :body, required: true, minlength: 2, placeholder: t('questions.new.question_body'),
                    class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.collection_select(:category_ids, Category.all, :id, :name, 
                            options = { :prompt => t('questions.new.categories_prompt') },
                            html_options = { :multiple => true, class: "form-select" }) %>
  </div>

  <%= f.submit @question.new_record? ? t('global.button.create') : t('global.button.update'),
               class:"btn btn-outline-primary" %>
<% end %>
