<%= form_for reply.becomes(Reply) do |f| %>
  <% f.object = reply.becomes reply.class %>
  <div class="input-group my-3">
    <% if reply.class == Answer %>
      <% if reply.new_record? %>
        <%= f.text_area :body, required: true, 
                        placeholder: t('questions.show.leave_answer'), class:"form-control" %>
      <% else %>
        <%= f.text_area :body, required: true, 
                      placeholder: t('questions.show.leave_answer'), class:"form-control", id: "reply_area" %>
      <% end %>
    <% end %>

      <% if reply.class == Comment %>
        <% if reply.new_record? %>
          <%= f.text_area :body, required: true, 
                          placeholder: t('questions.show.leave_comment'), class:"form-control", id: "reply_area_#{reply.repliable_id}" %> 
        <% else %>
          <%= f.text_area :body, required: true, 
                          placeholder: t('questions.show.leave_comment'), class:"form-control", id: "edit_area_#{reply.id}" %> 
        <% end %>
      <% end %>       

    <%= f.hidden_field :repliable_type, value: reply.repliable_type %>
    <%= f.hidden_field :repliable_id, value: reply.repliable_id %>
    <%= f.hidden_field :type, value: reply.type %>
    <%= f.submit reply.new_record? ? t('global.button.enter') : t('global.button.update'),
                 class:"btn btn-outline-primary" %>
  </div>
<% end %>