<h1>All questions</h1>

<div class="pb-3">
  <%= link_to 'New question', new_question_path, class:"btn btn-outline-primary" %>
</div>

<% @questions.each do |question| %>
  <div class="py-3">
    <div class="card">
      <div class="card-header">
        <%= question.user.username %>
        <% if question.categories.any? %>
          <%= render question.categories %>
        <% end %>
      </div>

      <div class="card-body">
        <h5 class="card-title"><%= question.title %></h5>
        <p class="card-text"><%= question.body %></p>
        <%= link_to 'Show', question_path(question), class:"btn btn-outline-primary" %>
        <% if owner?(question) %>
          <%= link_to 'Edit', edit_question_path(question), class:"btn btn-outline-primary" %>
          <%= link_to 'Delete', question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
        <% end %>
      </div>

      <div class="card-footer text-muted">
        <%= format_timestamp(question.created_at) %>
      </div>
    </div>
  </div>
<% end %>

<%== pagination @pagy %>