<h1><%= t('.title') %></h1>

<div class="py-3">
  <div class="card">
    <div class="card-header">
      <%= @question.user.username %>
      <% if @question.categories.any? %>
        <%= render @question.categories %>
      <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= @question.title %></h5>
      <p class="card-text"><%= @question.body %></p>
      <% if owner?(@question) %>
        <%= link_to t('global.button.edit'), edit_question_path(@question), class:"btn btn-outline-primary" %>
        <%= link_to t('global.button.delete'), question_path(@question), method: :delete,
                    data: { confirm: t('global.dialog.you_sure') }, class:"btn btn-outline-danger" %>
      <% end %>
    </div>

    <div class="card-footer text-muted">
      <%= format_timestamp(@question.created_at) %>
      <div class="py-2"> 
        <%= t('.rating') %>: <%= @question.weighted_score %>
        <% unless current_user&.voted_for? @question %>
          <span class="ps-3">
            <span class="pe-2">
              <%= link_to (fa_icon "arrow-up"), question_vote_up_path(@question),
                          method: :post, 
                          class: "btn btn-secondary" %>
            </span>
            <%= link_to (fa_icon "arrow-down"), question_vote_down_path(@question),
                        method: :post,
                        class: "btn btn-secondary" %>
          </span>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<%= render 'shared/reply_form', { reply: @question.answers.build } %>

<% unless @replies.empty? %>
  <h2 class="py-3"><%= t('.answers') %></h2>
<% end %>

<% @replies.each do |reply| %>
  <% if reply.is_a?(Answer) %>
    <%= render 'answers/answer', { answer: reply } %>
  <% else %>
    <%= render 'comments/comment', { comment: reply } %>
  <% end %>
<% end %>
