<h1>Question info</h1>

<h2><%= @question.title %></h2>
<time datetime="<%= format_timestamp(@question.created_at) %>">
  <%= format_timestamp(@question.created_at) %>
</time>
<p><%= @question.body %></p>

<%= link_to 'All questions', questions_path %>
<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure?" } %>