<h1><%= t('.title') %></h1>

<div class="py-3">
  <div class="card">
    <div class="card-header">
      <%= @question.user.username %>
      <% if @question.categories.any? %>
        <%= render @question.categories %>
      <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= @question.title %></h5>
      <p class="card-text"><%= @question.body %></p>
      <% if policy(@question).edit? %>
        <%= link_to t('global.button.edit'), edit_question_path(@question), class:"btn btn-outline-primary" %>
      <% end %>
      <% if policy(@question).destroy? %>
        <%= link_to t('global.button.delete'), question_path(@question), method: :delete,
                    data: { confirm: t('global.dialog.you_sure') }, class:"btn btn-outline-danger" %>
      <% end %>
    </div>

    <div class="card-footer text-muted">
      <%= format_timestamp(@question.created_at) %>
      <div class="py-2"> 
        <%= t('.rating') %>: <%= @question.weighted_score %>
        <% unless current_user&.voted_for? @question %>
          <span class="ps-3">
            <span class="pe-2">
              <%= link_to (fa_icon "arrow-up"), question_vote_up_path(@question),
                          method: :post, 
                          class: "btn btn-secondary" %>
            </span>
            <%= link_to (fa_icon "arrow-down"), question_vote_down_path(@question),
                        method: :post,
                        class: "btn btn-secondary" %>
          </span>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<%= render 'shared/reply_form', { reply: @question.answers.build } %>

<% unless @replies.empty? %>
  <h2 class="py-3"><%= t('.answers') %></h2>
<% end %>

<div id="replies">
  <% @replies.each do |reply| %>
    <% if reply.is_a?(Answer) %>
      <%= render 'answers/answer', { answer: reply } %>
    <% else %>
      <%= render 'comments/comment', { comment: reply } %>
    <% end %>
  <% end %>
</div>

<% if @pagy.next.present? %>
  <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class:"btn btn-outline-primary" %>
<% end %>

<script>
  function showForm(id, action) {
    let reply_boxes = $('div.reply-form');
    reply_boxes.addClass( 'hidden' );
    reply_boxes.removeClass( 'displayed' );

    $(`div#${action}_form_${id}`).addClass('displayed');

    let reply_area = $(`#${action}_area_${id}`);
    let area_length = reply_area.val().length;

    // set cursor to the end of input of the element
    reply_area.focus();
    reply_area[0].setSelectionRange(area_length, area_length);
  }
</script>
