<h1>Question info</h1>

<div class="py-3">
  <div class="card">
    <div class="card-header">
      <%= @question.user.username %>
      <% if @question.categories.any? %>
        <%= render @question.categories %>
      <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= @question.title %></h5>
      <p class="card-text"><%= @question.body %></p>
      <% if owner?(@question) %>
        <%= link_to 'Edit', edit_question_path(@question), class:"btn btn-outline-primary" %>
        <%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
      <% end %>
    </div>

    <div class="card-footer text-muted">
      <%= format_timestamp(@question.created_at) %>
      <div class="py-2"> 
        Rating: <%= @question.weighted_score %>
        <% if !current_user.voted_for? @question %>
          <span class="ps-3">
            <span class="pe-2"><%= link_to (fa_icon "arrow-up"), question_vote_up_path(@question), class: "btn btn-secondary" %></span>
            <%= link_to (fa_icon "arrow-down"), question_vote_down_path(@question), class: "btn btn-secondary" %>
          </span>
        <% end %> 
      </div>
    </div>

  </div>
</div>

<%= render 'reply_form', { reply: @answer, answer: nil } %>

<% if !@answers.empty? %>
  <h2 class="py-3">Answers</h2>
<% end %>

<% @answers.each do |answer| %>
  <div class="card mt-3" id="<%= dom_id(answer) %>">
    <div class="card-body">
      <h5 class="card-title"><%= answer.user.username %></h5>
      <p class="card-text"><%= answer.body %></p>

      <% if owner?(answer) %>
        <%= link_to 'Edit', edit_question_answer_path(@question, answer, page: @page),
                            remote: true, class:"btn btn-outline-primary btn-sm" %>
        <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, 
                              data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger btn-sm" %>
      <% end %>

      <p class="card-text mt-3"><small class="text-muted"><%= format_timestamp(answer.created_at) %></small></p>
      
      <div class="py-2"> 
        Rating: <%= answer.weighted_score %>
        <% if !current_user.voted_for? answer %>
          <span class="ps-3">
            <span class="pe-2"><%= link_to (fa_icon "arrow-up"), 
                                    question_answer_vote_up_path(@question, answer), 
                                    class: "btn btn-secondary" %></span>
            <%= link_to (fa_icon "arrow-down"), question_answer_vote_down_path(@question, answer), 
                                                class: "btn btn-secondary" %>
          </span>
        <% end %>
      </div>

      <%# displaying editing form for answer with ajax (see _answer_form.js.erb) %>
      <div id="reply_form_<%= answer.id %>">

      </div>
    </div>
  </div>

  <%# displaying comment for answers %>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11">
      <% answer.comments.each do |comment| %>
        <div class="card mt-2" id="<%= dom_id(comment) %>">
          <div class="card-body">
            <h6 class="card-title"><%= comment.user.username %></h6>
            <p class="card-text"><%= comment.body %></p>
            <p class="card-text"><small class="text-muted"><%= format_timestamp(comment.created_at) %></small></p>

            <% if owner?(comment) %>
              <%= link_to 'Edit', edit_question_comment_path(@question, comment), 
                                  remote: true, class:"btn btn-outline-primary btn-sm" %>
              <%= link_to 'Delete', question_comment_path(@question, comment), method: :delete, 
                                    data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger btn-sm" %>
            <% end %>

            <%# displaying editing or replying form for comment with ajax (see _comment_form.js.erb) %>
            <div id="reply_form_<%= comment.id %>">

            </div>
          </div>
        </div>
      <% end %> 

      <%= render 'reply_form', { reply: @comment, answer: answer } %>
    </div>
  </div>
<% end %>

<%== pagination @pagy %>