<h1>Question info</h1>

<div class="py-3">
  <div class="card">
    <div class="card-header">
      <time datetime="<%= format_timestamp(@question.created_at) %>">
        <%= format_timestamp(@question.created_at) %>
      </time>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @question.title %></h5>
      <p class="card-text"><%= @question.body %></p>
      <%= link_to 'Edit', edit_question_path(@question), class:"btn btn-outline-primary" %>
      <%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>

<h2 class="py-3">Answers</h2>

<% @answers.each do |answer| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Username</h5>
      <p class="card-text"><%= answer.body %></p>
      <p class="card-text"><small class="text-muted"><%= format_timestamp(answer.created_at) %></small></p>

      <%= link_to 'Edit', edit_question_answer_path(@question, answer), 
                          remote: true, class:"btn btn-outline-primary btn-sm" %>
      <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, 
                            data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger btn-sm" %>
    </div>
  </div>

  <%# displaying editing form for answer with ajax (see _answer_form.js.erb) %>
  <div id="answer_form_<%= answer.id %>">

  </div>
<% end %>

<%= render 'answer_form' %>