<h1>Question info</h1>

<h2><%= @question.title %></h2>
<time datetime="<%= format_timestamp(@question.created_at) %>">
  <%= format_timestamp(@question.created_at) %>
</time>
<p><%= @question.body %></p>

<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure?" } %>

<h2>Answers</h2>
<% @answers.each do |answer| %>
  <time datetime="<%= format_timestamp(answer.created_at) %>">
    <%= format_timestamp(answer.created_at) %>
  </time>
  <p><%= answer.body %></p>
  <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: { confirm: "Are you sure?" } %>

  <%# displaying results of search with javascript (see _s.js.erb) %>
  <div id="answer_form">

  </div>
<% end %>


<%= form_with model: [@question, @answer] do |f| %>
  <div>
    <%= f.text_area :body, required: true, placeholder: "Type an answer..." %>
  </div>

  <%= f.submit "Enter" %>
<% end %>