<h1>Question info</h1>

<h2><%= @question.title %></h2>
<time datetime="<%= format_timestamp(@question.created_at) %>">
  <%= format_timestamp(@question.created_at) %>
</time>
<p><%= @question.body %></p>

<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: "Are you sure?" } %>

<h2>Answers</h2>
<% @answers.each do |answer| %>
  <time datetime="<%= format_timestamp(answer.created_at) %>">
    <%= format_timestamp(answer.created_at) %>
  </time>
  <p><%= answer.body %></p>
  <%= link_to 'Edit', edit_question_answer_path(@question, answer), remote: true %>
  <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: { confirm: "Are you sure?" } %>

  <%# displaying editing form for answer with ajax (see _answer_form.js.erb) %>
  <div id="answer_form_<%= answer.id %>">

  </div>
<% end %>

<%= render 'answer_form' %>