<h1 class="pb-3"><%= t('.title') %></h1>

<%= form_with url: session_path do |f| %>
  <div class="mb-3">
    <%= f.email_field :email, required: true, placeholder: t('.email'), class:"form-control form-control-lg" %>
  </div>
  <div class="mb-3">
    <%= f.password_field :password, required: true, placeholder: t('.password'), class:"form-control form-control-lg" %>
  </div>

  <%= f.submit t('.submit'), class:"btn btn-outline-primary btn-lg" %>
<% end %>