<%# displaying comment for answers %>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-11">
    <div class="card mt-2" id="reply-<%= comment.id %>">
      <div class="card-body">
        <h6 class="card-title"><%= comment.user.username %></h6>
        <p class="card-text"><%= comment.body %></p>
        <p class="card-text"><small class="text-muted">
          <%= format_timestamp(comment.created_at) %>
          <% if comment.parent.is_a?(Comment) %>
            <%= link_to "Replied to #{comment.parent.user.username}",
                        question_path(@question, anchor: "reply-#{comment.parent.id}") %>
          <% end %>
        </small></p>
        
        <%= button_tag t('global.button.reply'),
                class:"btn btn-outline-primary btn-sm",
                onclick: "showForm(#{comment.id}, 'reply')" %>
        <% if policy(comment).edit? %>
          <%= button_tag t('global.button.edit'),
                  class:"btn btn-outline-primary btn-sm",
                  onclick: "showForm(#{comment.id}, 'edit')" %>
        <% end %>
        <% if policy(comment).destroy? %>
          <%= link_to t('global.button.delete'), comment_path(comment), method: :delete, 
                      data: { confirm: t('global.dialog.you_sure') }, class:"btn btn-outline-danger btn-sm" %>
        <% end %>

        <div class="reply-form hidden" id="reply_form_<%= comment.id %>">
          <%= render 'shared/reply_form.html', { reply: comment.comments.build } %>
        </div>

        <div class="reply-form hidden" id="edit_form_<%= comment.id %>">
          <%= render 'shared/reply_form.html', { reply: comment } %>
        </div>
      </div>
    </div>
  </div>
</div>
