<h1 class="pb-3">Sign up</h1>

<%= form_with model: @user do |f| %>
  <div class="mb-3">
    <%= f.text_field :username, required: true, placeholder: "Username", class:"form-control form-control-lg" %>
  </div>
  <div class="mb-3">
    <%= f.email_field :email, required: true, placeholder: "Email", class:"form-control form-control-lg" %>
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <%= f.password_field :password, required: true, placeholder: "Password", class:"form-control form-control-lg" %>
  </div>
  <div class="mb-3">
    <%= f.password_field :password_confirmation, required: true, placeholder: "Password confirmation", class:"form-control form-control-lg" %>
  </div>

  <%= f.submit @user.new_record? ? "Sign up" : "Update", class:"btn btn-outline-primary btn-lg" %>
<% end %>