<div class="card mt-2" id="answer-<%= answer.id %>">
  <div class="card-body">
    <h5 class="card-title"><%= answer.user.username %></h5>
    <p class="card-text"><%= answer.body %></p>

    <%= button_tag t('global.button.reply'),
                class:"btn btn-outline-primary btn-sm",
                onclick: "showForm(#{answer.id}, 'reply')" %>
    <% if can_edit?(answer) %>
      <%= button_tag t('global.button.edit'),
                  class:"btn btn-outline-primary btn-sm",
                  onclick: "showForm(#{answer.id}, 'edit')" %>
    <% end %>
    <% if can_destroy?(answer) %>
      <%= link_to t('global.button.delete'), answer_path(answer), method: :delete,
                  data: { confirm: t('global.dialog.you_sure') }, class:"btn btn-outline-danger btn-sm" %>
    <% end %>

    <p class="card-text"><small class="text-muted"><%= format_timestamp(answer.created_at) %></small></p>

    <%= t('.rating') %>: <%= answer.weighted_score %>
    <% unless current_user&.voted_for? answer %>
      <span class="ps-3">
        <span class="pe-2">
          <%= button_to answer_vote_up_path(answer),
                        class: "btn btn-secondary",
                        data: { turbo: false },
                        form: {style: 'display:inline-block;'} do %>
            <%= fa_icon "arrow-up" %>
          <% end %>
        </span>
        <%= button_to answer_vote_down_path(answer),
                      class: "btn btn-secondary",
                      data: { turbo: false},
                      form: {style: 'display:inline-block;'} do %>
          <%= fa_icon "arrow-down" %>
        <% end %>
      </span>
    <% end %>
    <div class="reply-form hidden" id="reply_form_<%= answer.id %>">
      <%= render 'shared/reply_form', { reply: answer.comments.build } %>
    </div>

    <div class="reply-form hidden" id="edit_form_<%= answer.id %>">
      <%= render 'shared/reply_form', { reply: answer } %>
    </div>
  </div>
</div>

<script>
  function showForm(id, action) {
    let reply_boxes = $('div.reply-form');
    reply_boxes.addClass( 'hidden' );
    reply_boxes.removeClass( 'displayed' );

    $(`div#${action}_form_${id}`).addClass('displayed');

    let reply_area = $(`#${action}_area_${id}`);
    let area_length = reply_area.val().length;

    // set cursor to the end of input of the element
    reply_area.focus();
    reply_area[0].setSelectionRange(area_length, area_length);
  }
</script>
