<div class="card mt-3" id="reply-<%= answer.id %>">
  <div class="card-body">
    <h5 class="card-title"><%= answer.user.username %></h5>
    <p class="card-text"><%= answer.body %></p>

    <%= button_tag t('global.button.reply'),
                class:"btn btn-outline-primary btn-sm",
                onclick: "showForm(#{answer.id}, 'reply')" %>
    <% if can_edit?(answer) %>
      <%= button_tag t('global.button.edit'),
                  class:"btn btn-outline-primary btn-sm",
                  onclick: "showForm(#{answer.id}, 'edit')" %>
    <% end %>
    <% if can_destroy?(answer) %>
      <%= link_to t('global.button.delete'), answer_path(answer), method: :delete,
                  data: { confirm: t('global.dialog.you_sure') }, class:"btn btn-outline-danger btn-sm" %>
    <% end %>

    <p class="card-text mt-3"><small class="text-muted"><%= format_timestamp(answer.created_at) %></small></p>
    
    <div class="py-2"> 
      <%= t('.rating') %>: <%= answer.weighted_score %>
      <% unless current_user&.voted_for? answer %>
        <span class="ps-3">
          <span class="pe-2"><%= link_to (fa_icon "arrow-up"), answer_vote_up_path(answer),
                                         method: :post, 
                                         class: "btn btn-secondary" %></span>
          <%= link_to (fa_icon "arrow-down"), answer_vote_down_path(answer),
                      method: :post, 
                      class: "btn btn-secondary" %>
        </span>
      <% end %>
    </div>

    <div class="reply-form hidden" id="reply_form_<%= answer.id %>">
      <%= render 'shared/reply_form.html', { reply: answer.comments.build } %>
    </div>

    <div class="reply-form hidden" id="edit_form_<%= answer.id %>">
      <%= render 'shared/reply_form.html', { reply: answer } %>
    </div>
  </div>
</div>