<h4><%= t('mailer_common.greeting', name: @user.username) %><h4>
 
<p><%= t('.content_1', name: @category.name) %></p>
<p><%= link_to nil, question_url(@question, locale: I18n.locale) %></p>

<p><%= t('.content_2', name: @category.name) %></p>
<p><%= link_to nil, category_url(@category, locale: I18n.locale) %></p>

<p><%= t('mailer_common.farewell') %></p>